body {
    margin: 0;
    font-family: sans-serif;
    background: orange;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}
h3 {
    color: grey;
}
hr {
    border-top: 1px solid whitesmoke;
    width: 90px;
}
.card {
    margin: .5em;
    border-radius: 2px;
    background: white;
    width: 250px;
    height: 350px;

    /* the following declarations make the card a flex container and justify and align its flex items */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
img {
    border-radius: 120px;
    width: 120px;
}
i {
    color: grey;
}
.text-section {
    position: relative;
    bottom: 1.5em;
}
.icons {
    /* the following declarations control the spacing between the social media icons */
    width: 160px;
    display: flex;
    justify-content: space-evenly;
}
.icons i {
    font-size: 2.2em;
}
#myMinions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}