* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: grey;
    font-family: sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#logo {
    font-size: 3em;
    /*margin: 15em 0;*/
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 0 5px;
    margin: 0;
}

a:hover {
    color: blue;
}